<section class="api-section">
  <h4 data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">Clean and simple in use API</h4>
  <img data-aos="fade" data-aos-duration="500"  data-aos-delay="100" class="laptop" src="images/laptop.svg" width="899" height="523" alt="#"/>
  <img data-aos="fade" data-aos-duration="500"  data-aos-delay="100" class="tablet" src="images/tablet.svg" width="616" height="418" alt="#"/>
  <img data-aos="fade" data-aos-duration="500"  data-aos-delay="100" class="mobile" src="images/mobile.svg" width="276" height="560" alt="#"/>
  <div class="nav-line-holder">
    <div class="line" data-aos="line-animate" data-aos-duration="500"  data-aos-delay="200" >&nbsp;</div>
  </div>
  <img data-aos="zoom-in" data-aos-duration="500"  data-aos-delay="400" class="cube" src="images/dotted_cube.svg" width="310" height="310" alt="#"/>
  <p class="text" data-aos="fade-right" data-aos-duration="500"  data-aos-delay="400">API</p>
  <ul>
    <li data-aos-anchor=".nav-line-holder" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="300"><a class="active" href="#">cURL</a></li>
    <li data-aos-anchor=".nav-line-holder" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400"><a href="#">Ruby</a></li>
    <li data-aos-anchor=".nav-line-holder" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="500"><a href="#">NodeJs</a></li>
    <li data-aos-anchor=".nav-line-holder" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="600"><a href="#">PHP</a></li>
    <li data-aos-anchor=".nav-line-holder" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="700"><a href="#">Python</a></li>
  </ul>
</section>