<section class="carousel-section">
  <h4 class="cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="100">Our customers</h4>
  <div class="carouse-holder">
    <div class="owl-carousel">
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="300" src="images/uber_logo.svg" width="56"
           height="56" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="400" src="images/slack_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="500" src="images/invision_logo.svg"
           width="56" height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="600" src="images/skype_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="700" src="images/trello_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="800" src="images/adobe_logo.svg" width="56"
           height="47" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="900" src="images/uber_logo.svg" width="56"
           height="56" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="1000" src="images/slack_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="1100" src="images/invision_logo.svg"
           width="56" height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="1200" src="images/skype_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="1300" src="images/trello_logo.svg" width="56"
           height="57" alt="#"/>
      <img data-aos-anchor=".cs-text" data-aos="fade-up"  data-aos-duration="500"  data-aos-delay="1400" src="images/adobe_logo.svg" width="56"
           height="47" alt="#"/>
    </div>
  </div>
</section>