<div id="e-commerce" class="modal cases-modal e-commerce-modal">
  <div class="m-header">
    <p>E-commerce</p>
    <a href="#" class="border-btn"> Connect</a>
  </div>
  <div class="mh-line-holder">
    <div class="mh-line"></div>
    <div class="mh-line"></div>
  </div>
  <div class="m-content">
    <h5>Step 1: Connect CitusPay to your store</h5>
    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence, and upturning of the natural chain of events that resounded all over Europe; the old regime became, in their imaginary, a paradise lost. </p>
    <img class="img1" src="images/st1.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 2: The customer choose the product and pays for the purchase of a cryptocurrency</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img2" src="images/st2.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 3: Successful completion of a transaction</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img3" src="images/st3.svg" alt="#"/>
  </div>
</div>

<div id="offline-business" class="modal cases-modal offline-business-modal">
  <div class="m-header">
    <p>Offline Business</p>
    <a href="#" class="border-btn"> Connect</a>
  </div>
  <div class="mh-line-holder">
    <div class="mh-line"></div>
    <div class="mh-line"></div>
  </div>
  <div class="m-content">
    <h5>Step 1: Connect CitusPay to your store</h5>
    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence, and upturning of the natural chain of events that resounded all over Europe; the old regime became, in their imaginary, a paradise lost. </p>
    <img class="img1" src="images/st1.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 2: The customer choose the product and pays for the purchase of a cryptocurrency</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img2" src="images/st2.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 3: Successful completion of a transaction</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img3" src="images/st3.svg" alt="#"/>
  </div>
</div>

<div id="multi-wallet" class="modal cases-modal multi-wallet-modal">
  <div class="m-header">
    <p>Multi-currencies wallet</p>
    <a href="#" class="border-btn"> Connect</a>
  </div>
  <div class="mh-line-holder">
    <div class="mh-line"></div>
    <div class="mh-line"></div>
  </div>
  <div class="m-content">
    <h5>Step 1: Connect CitusPay to your store</h5>
    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence, and upturning of the natural chain of events that resounded all over Europe; the old regime became, in their imaginary, a paradise lost. </p>
    <img class="img1" src="images/st1.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 2: The customer choose the product and pays for the purchase of a cryptocurrency</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img2" src="images/st2.svg" alt="#"/>
  </div>
  <div class="m-content">
    <h5>Step 3: Successful completion of a transaction</h5>
    <p>This explains why some romantic poets born in the higher classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a reverse of fortune or a design of destiny. </p>
    <img class="img3" src="images/st3.svg" alt="#"/>
  </div>
</div>