<section class="cases-section" id="1">
  <h4 data-aos="fade-up" data-aos-duration="400">Cases</h4>
  <div class="cases-holder">
    <div class="cases-box bx1" data-aos="fade-up" data-aos-duration="400" data-aos-delay="300">
      <img  id="c1" data-aos="fade-up" data-aos-duration="400" data-aos-delay="400" src="images/online_shop_ico.svg"
           width="68" height="57" alt="#"/>
      <h5 data-aos-anchor="#c1" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500">E-commerce</h5>
      <div data-aos-anchor="#c1" data-aos="fade-up" data-aos-duration="400" data-aos-delay="600" class="text-holder"><p>It is a small world
        after all. Globalization is that great process that started
        perhaps with Mr. Marco Polo, but has since regained its prestige after a short stint of protectionism following
        the great depression.</p></div>
      <button  data-aos-anchor-placement="bottom-bottom" data-aos="fade-up" data-aos-duration="400" data-aos-delay="700" class="case-btn border-btn btn1"  data-modal="#e-commerce"><span><i>Want to connect</i></span></button>
    </div>
    <div class="cases-box bx2" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1500">
      <img id="c2" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1600" src="images/shop_ico.svg" width="66"
           height="55" alt="#"/>
      <h5 data-aos-anchor="#c2" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1700">Offline Business</h5>
      <div data-aos-anchor="#c2" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1800" class="text-holder"><p>Receiving payments with CitusPay you will attract new clients who prefer transactions in cryptocurrency. We deliver additional convenience for your clients, full control over all funds for you, and high security because we keep your balance in cold storage.</p>
      </div>
      <button  data-aos-anchor-placement="bottom-bottom" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1900" class="case-btn border-btn btn2" data-modal="#offline-business"><span><i>Want to connect</i></span></button>
    </div>
  <div class="cases-box bx3" data-aos="fade-up" data-aos-duration="400" data-aos-delay="2300">
      <img id="c3" data-aos="fade-up" data-aos-duration="400" data-aos-delay="2400" src="images/wallet_ico.svg" width="56"
           height="56" alt="#"/>
    <h5 data-aos-anchor="#c3" data-aos="fade-up" data-aos-duration="400" data-aos-delay="2500">Multi-currency wallets</h5>
    <div  data-aos-anchor="#c3" data-aos="fade-up" data-aos-duration="400" data-aos-delay="2600" class="text-holder">
        <p>CitusPay - easy management of your crypto funds. Business account has an intuitive, easy-to-use interface and high level of protection for your peace of mind.</p>
      </div>
    <button  data-aos-anchor-placement="bottom-bottom" data-aos="fade-up" data-aos-duration="400" data-aos-delay="2700" class="case-btn border-btn btn3" data-modal="#multi-wallet"><span><i>Want to connect</i></span></button>
    </div>
  </div>
<p data-aos="slide-up" data-aos-duration="400" data-aos-delay="200" class="text">Cases</p>
</section>