<section class="line-holder">
    <div class="line" data-aos-anchor=".line-holder"data-aos="fade-up" data-aos-duration="500" data-aos-delay="0" >&nbsp;</div>
    <div class="line" data-aos-anchor=".line-holder"data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">&nbsp;</div>
</section>

<section class="currency-section" data-aos="slide-up" data-aos-duration="500" data-aos-delay="200">
    <div class="currency-content">
      <h4 data-aos="slide-up" data-aos-duration="500" data-aos-delay="400">Supported Currencies
        </h4>
        <p data-aos="slide-up" data-aos-duration="500" data-aos-delay="500">You can use the advantages of all major cryptocurrencies. We’re expanding the list every month.</p>
        <ul>
            <li id="list" data-aos="fade-left" data-aos-duration="500" data-aos-delay="700"><strong><em><img
        src="images/bitcoin_ico.svg" width="32" height="32" alt="#"/></em>Bitcoin (BTC)</strong>
          <span>Supported</span></li>
            <li data-aos="fade-left" data-aos-duration="500" data-aos-delay="750" data-aos-anchor="#list">
                <strong><em><img
        src="images/ethereum_ico.svg" width="20" height="32" alt="#"/></em>Ethereum (ETH)</strong>
                <span>Supported</span></li>
            <li data-aos="fade-left" data-aos-duration="500" data-aos-delay="800" data-aos-anchor="#list">
                <strong><em><img
        src="images/bitcoin_cash_ico.svg" width="32" height="32"  alt="#"/></em>Bitcoin Cash
        (BCH)</strong> <span>
        Supported</span></li>
            <li data-aos="fade-left" data-aos-duration="500" data-aos-delay="850" data-aos-anchor="#list">
                <strong><em><img
        src="images/litecoin_ico.svg" width="32" height="32" alt="#"/></em>Litecoin (LTC)</strong>
                <span>Supported</span></li>
            <li data-aos="fade-left" data-aos-duration="500" data-aos-delay="900" data-aos-anchor="#list">
                <strong><em><img
        src="images/bitcoin_gold_ico.svg" width="32" height="32"  alt="#"/></em>Bitcoin Gold
        (BTG)</strong> <span>
        Supported</span>
            </li>
            <li class="coming" data-aos="fade-left" data-aos-duration="500" data-aos-delay="950" data-aos-anchor="#list">Coming soon</li>
            <li data-aos="fade-left" data-aos-duration="500" data-aos-delay="1000" data-aos-anchor="#list">
                <strong><em><img
        src="images/dogecoin_ico.svg" width="32" height="32"  alt="#"/></em>Dogecoin
                    (DOGE)</strong> <span class="release">Release:
        <i>19 Apr 2019</i></span></li>
      </ul>
    </div>
    <p class="text" data-aos="slide-up" data-aos-duration="500" data-aos-delay="600">Currency</p>
</section>