<h3>Welcome to CitusPay Support</h3>
<div class="q-holder">
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="100" >
    <a href="faq-category.html">
      <p>Charges & Refunds</p>
      <span><em>8</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="300" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Charges & Refunds</p>
      <span><em>2</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="600" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Payouts</p>
      <span><em>5</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="800" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Connect</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="1000" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Billing & Subscriptions</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="1200" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>International</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="1400" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Disputes & Fraud</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="1600" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Accounting & Taxes</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="1800" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Developer & Other</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  <div class="q-block" data-aos="fade-up"  data-aos-duration="600"  data-aos-delay="2000" data-aos-anchor=".q-block">
    <a href="faq-category.html">
      <p>Something else</p>
      <span><em>12</em> answers</span>
    </a>
  </div>
  
</div>