<section class="features-section ">
  <div class="feature-box-holder box-left">
    <div class="feature-box fading-elem" data-aos="fade-up" data-aos-duration="500">
      <img class="f-img1" data-aos="fade-up" data-aos-delay="75" data-aos-duration="600" src="images/discount_ico.svg" alt="#"/>
      <h3 data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">Optimized transaction fees</h3>
      <p data-aos="fade-up" data-aos-delay="75" data-aos-duration="800">Our service allows you to bundle multiple payments into a single transaction to lower the blockchain mining fees and increase processing and confirmations speed.</p>
    </div>
  </div>
  <div class="feature-box-holder box-right">
    <div class="feature-box" data-aos="fade-up" data-aos-duration="500">
      <img class="f-img2" data-aos="fade-up" data-aos-delay="75" data-aos-duration="600" src="images/shopping_cart_ico.svg" alt="#"/>
      <h3 data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">High-grade information security.</h3>
      <p data-aos="fade-up" data-aos-delay="75" data-aos-duration="800">To keep your funds secure, we have implemented an improved multisig algorithm. Our keys are stored and encrypted separately on different servers.</p>
    </div>
  </div>
  <div class="feature-box-holder box-left">
    <div class="feature-box" data-aos="fade-up" data-aos-duration="500">
      <img class="f-img3" data-aos="fade-up" data-aos-delay="75" data-aos-duration="600" src="images/favourite_ico.svg" alt="#"/>
      <h3 data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">Custom low-cost Ethereum MultiSig</h3>
      <p data-aos="fade-up" data-aos-delay="75" data-aos-duration="800">We have implemented custom multisig for all Ethereum transactions sent from our wallets. This substantially improves your security without imposing costs of generating new contracts.</p>
    </div>
  </div>
  <div class="feature-box-holder box-right">
    <div class="feature-box" data-aos="fade-up" data-aos-duration="500">
      <img class="f-img4" data-aos="fade-up" data-aos-delay="75" data-aos-duration="600" src="images/trolley_ico.svg"  alt="#"/>
      <h3 data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">High level of fault tolerance and load</h3>
      <p data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">Our server infrastructure consists of multiple load-balanced clusters around the world.Together with Cloudflare we deliver protection from DDOS attacks and 99.9% uptime, so you can never lose a client or miss any payments.</p>
    </div>
  </div>
  <div class="feature-box-holder box-left">
    <div class="feature-box" data-aos="fade-up" data-aos-duration="500">
      <img class="f-img5" data-aos="fade-up" data-aos-delay="75" data-aos-duration="600"  src="images/package_ico.svg" alt="#"/>
      <h3 data-aos="fade-up" data-aos-delay="75" data-aos-duration="700">All in One</h3>
      <p data-aos="fade-up" data-aos-delay="75" data-aos-duration="800">Convenient management of multiple wallets on your business account page. Single sign-on and verification make running several businesses easy and simple.</p>
    </div>
  </div>
</section>