<footer>
  <div class="nav-holder">
    <ul>
      <li>Company</li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Environment</a></li>
    </ul>
    <ul>
      <li>Developers</li>
      <li><a href="#">Docs</a></li>
      <li><a href="#">API status</a></li>
      <li><a href="#">Open source</a></li>
    </ul>
    <ul>
      <li>Resources</li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Privacy & terms</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul>
      <li>Connect</li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Google+</a></li>
    </ul>
    <div class="custom-select">
      <select>
        <option>Русский</option>
        <option>English</option>
      </select>
    </div>
  </div>
  <p class="copy">© 2018 CryptoPro. All right reserved.</p>
</footer>