<header>
  <h1 class="logo"><a href="index.html">CitusPay Blockchain Business Solutions</a></h1>
  <nav class="main-nav">
    <ul>
      <li><a href="index.html">Company</a></li>
      <li><a href="#">Developers</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a class="demo-nav" href="#">Demo</a></li>
    </ul>
    <a class="demo-btn" href="#">Demo</a>
  </nav>
  <div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>