<section class="plan-section">
  <h4 data-aos="fade-up" data-aos-duration="200" data-aos-easing="ease-out">Development plan</h4>
  <div class="plan-holder">
    <div class="plan-block">
      <p  id="ap1" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">Already completed</p>
      <ul id="ap" class="completed">
        <li data-aos="fade-up"  data-aos-duration="500" data-aos-delay="200" data-aos-anchor="#ap">Receiving and making payments in Bitcoin</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="300" data-aos-anchor="#ap">Granular transaction fee settings (allows you to set your custom tradeoffs between transaction cost and processing speed)</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400" data-aos-anchor="#ap">Receiving and making payments in Bitcoin Gold</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="500" data-aos-anchor="#ap">Transaction bundles for Bitcoin payments (allows merging several payments into a single transaction)</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="600" data-aos-anchor="#ap">Receiving and making payments in Litecoin</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="700" data-aos-anchor="#ap">Receiving and making payments in Ethereum</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="800" data-aos-anchor="#ap">Unique custom Ethereum MultiSig (exponentially improves security and lowers transaction costs)</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="900" data-aos-anchor="#ap">Global Dashboard - single interface for all of user’s accounts</li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1000" data-aos-anchor="#ap">Importing all of user’s data to Excel tables</li>
      </ul>
    </div>
    <div class="plan-block">
      <p data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200" data-aos-anchor="#ap1">Coming soon</p>
      <ul class="coming">
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200" data-aos-anchor="#ap">Fast conversion of any coin to USD<span>10 Sep 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="300" data-aos-anchor="#ap">Adding personal wallet to your business account<span>21 Sep 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400" data-aos-anchor="#ap">Customizable payment page template<span>9 Oct 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="500" data-aos-anchor="#ap">Support for ETH-based tokens<span>28 Oct
          2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="600" data-aos-anchor="#ap">Fast refunds for ecommerce<span>28 Oct 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="700" data-aos-anchor="#ap">Mobile version for account pages<span>28 Oct 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="800" data-aos-anchor="#ap">Marketplace of vendors who accept cryptocurrencies<span>28 Oct 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="900" data-aos-anchor="#ap">iOS &amp; Android apps<span>28 Oct 2018</span></li>
        <li data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1000" data-aos-anchor="#ap">Business account integration endpoints (API)<span>28 Oct 2018</span></li>
      </ul>
    </div>
  </div>
  <img  data-aos="fade-up" data-aos-duration="500"  data-aos-delay="300" class="circle"
        src="images/striped_circle.svg" width="250" height="250" alt="#"/>
</section>