<section class="promo-section">
  <div class="promo-text">
    <h2 data-aos="fade-right">CitusPay is a  new generation online payment processing platform</h2>
    <p class="pt" data-aos="fade-right" data-aos-delay="300">Our service offers easy billing, safe storage and low-fee transactions for cryptocurrencies. <br>
      CitusPay - connect your business to the crypto world.
    </p>
    <div class="btn-holder" >
      <a href="#" class="transform-btn d-1000" data-aos-anchor=".pt" data-aos="zoom-in" data-aos-delay="500">
        Request more information
        <span class="btn-line-1"><i></i></span>
        <span class="btn-line-2"><i></i></span>
        <span class="btn-line-3"><i></i></span>
        <span class="btn-line-4"><i></i></span>
        <i class="hover">Request more information</i>
      </a>
    </div>
    <img class="circle" data-aos="circle-anim" src="images/striped_circle.svg" width="186" height="186"
         alt="#"/>
  </div>
  <div class="oval" data-aos="zoom-in-down"  data-aos-delay="0">
    <img class="browser" data-aos="fade-up" data-aos-delay="300" src="images/browser.svg"  alt="#"/>
  </div>
  <span class="scroll-indicator " data-aos-anchor=".oval" data-aos="fade-up" data-aos-delay="700" data-aos-easing="ease-in-out-back">scroll down</span>
</section>