<section class="request-section">
  <img data-aos="fade" data-aos-delay="200" class="map" src="images/world_map.svg" alt="#"/>
  <h4 data-aos="slide-right" data-aos-delay="0">We are global</h4>
  <p data-aos="slide-right" data-aos-delay="100">We ensure safe and reliable integration of CitusPay with your business</p>
  <form class="main-form toggle-disabled" action="#">
    <div class="row">
      <label data-aos-anchor=".main-form" data-aos="fade" data-aos-delay="400">Full name</label>
      <input  data-aos-anchor=".main-form" data-aos="fade-left" data-aos-delay="400" class="inp" type="text" data-validation="required" name="full-name" placeholder="John Doe"/>
    </div>
    <div class="row">
      <label data-aos-anchor=".main-form"  data-aos="fade" data-aos-delay="500">Phone number</label>
      <input data-aos-anchor=".main-form"  data-aos="fade-left" data-aos-delay="500" class="inp" type="text" data-validation="number" name="phone-number" placeholder="501 152 3549"/>
    </div>
    <div class="row">
      <label data-aos-anchor=".main-form"  data-aos="fade" data-aos-delay="600">Email address</label>
      <input data-aos-anchor=".main-form"  data-aos="fade-left" data-aos-delay="600" class="inp" type="text" data-validation="email" name="email-address" placeholder="johndoe@gmail.com"/>
    </div>
    <div class="row">
      <label data-aos-anchor=".main-form"  data-aos="fade" data-aos-delay="700">Skype</label>
      <input data-aos-anchor=".main-form"  data-aos="fade-left" data-aos-delay="700" class="inp" type="text" name="skype" data-validation="required" placeholder="johndoe"/>
    </div>
    <div class="row">
      <label data-aos-anchor=".main-form"  data-aos="fade" data-aos-delay="800">Field of activity</label>
      <div data-aos-anchor=".main-form"  data-aos="fade-left" data-aos-delay="800" class="select-holder" >
        <select class="select" name="activit" data-validation="length" data-validation-length="min1">
          <option>e-commerce</option>
          <option>e-commerce 2</option>
          <option>e-commerce 3</option>
          <option>e-commerce 4</option>
          <option>e-commerce 5</option>
        </select>
      </div>
    </div>
    <div class="btn-holder" data-aos-anchor=".main-form" data-aos="fade-left" data-aos-delay="900" >
      <button  type="submit" class="btn go">Make a request</button>
    </div>
  </form>
</section>